
.box1 {
  background-color: #1c1c1c;
  color:white;
  height: 50vh;
  width: 100%;
  opacity: 70%;
  padding: 10% 0;
  text-align: center;}
.box2 {
  background-color: #F08030;
  color: white;
  height: 50vh;
  width: 100%;
  opacity: 70%;
  padding: 10% 0;
  text-align: center;
}

.box1:hover {
  background: #134F5C;
  transition: 1s ease-in-out;
  opacity: 100%;
}
.box2:hover {
  background: #F08030;
  transition: 1s ease-in-out;
  opacity: 100%;
}
