<div class="container-fluid">
  <div class="row">
    <div class="col-6" style="height: 33vh; background-color: black; padding: 3%; padding-left: 10%">
      <h1 style="color: gray; opacity: 0.1;position:absolute;padding-left:10%">Adnare</h1>
      <a href="https://adnare.com/"><img style="position: absolute" src="https://i.ibb.co/sVMML4m/Group-493.png" alt="Adnare" border="0" height="150" width="150"></a>
    </div>
    <div class="col-6" style="height: 33vh; background-color: black ; padding:3%;padding-left:10%">
      <h3 style="padding: 10px; color: #EA3B27">Adnare Pvt Ltd.</h3>
      <ul style="font-weight:700" class="a">
        <li><span>AlfaMD EHR</span></li>
        <li><span>PAPM(PM system)</span></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-6" style="height: 33vh; background-color: black ; padding:3%;padding-left:10%">
      <h3 style="padding: 10px; color: #EA3B27">Shikkra Technologies</h3>
      <ul style="font-weight:700" class="a">
        <li><span>Folder Lock</span></li>
      </ul>

    </div>
    <div class="col-6" style="height: 33vh; background-color: black ;padding: 3%; padding-left: 10%">
      <h1 style="color: gray; opacity: 0.1;position:absolute">Shikkra technologies</h1>
      <a href="https://shikkratech.com/"><img style="position: absolute; " src="https://i.ibb.co/zmg3kpk/Vector.png" alt="Vector" border="0" height="150" width="150"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-6" style="height: 33vh; background-color: black ; padding: 3%; padding-left: 10% ">
      <h1 style="color: gray; opacity: 0.1;position:absolute">Upwork</h1>
      <a href="https://ibb.co/c1283nP"><img style="position: absolute;" src="https://i.ibb.co/s2s1RYh/Group-494.png" alt="Group-494" border="0" height="150" width="150"></a>
    </div>
    <div class="col-6" style="height: 33vh; background-color: black ; padding:3%;padding-left:10%">
      <h3 style="padding: 10px; color: #EA3B27">Free Launcing</h3>
      <ul style="font-weight:700" class="a">
        <li><span>Person Detection System</span></li>
        <li><span>Car Parking System</span></li>
        <li><span>WhatsApp Chat Analysis System</span></li>
      </ul>
    </div>

  </div>
</div>
