<div class="container-fluid">
  <div class="service-wrapper">
    <div class="service">
      <h1>Services</h1>
      <p>I am a Full-Stack web developer with working experience in Angular,React,Dotnet,
      Flask,My SQL Workbench,Sql Server,Xampp,C++ </p>
      <div class="cards">
        <div class="card">
          <i class="fa-brands fa-chromecast"> </i>
          <h2>
            Buisness Stratagy
          </h2>
          <p>
            helo helo kadsbfsdaf jas;ldjff i am felelig good i will do hard work
            i will compete my competitors
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-layer-group"> </i>
          <h2>
            Website Development Stratagy
          </h2>
          <p>
            helo helo kadsbfsdaf jas;ldjff i am felelig good i will do hard work
            i will compete my competitors
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-user-group"> </i>
          <h2>
            Marketing & Reporting
          </h2>
          <p>
            helo helo kadsbfsdaf jas;ldjff i am felelig good i will do hard work
            i will compete my competitors
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-desktop"> </i>
          <h2>
            Web Applications
          </h2>
          <p>
            helo helo kadsbfsdaf jas;ldjff i am felelig good i will do hard work
            i will compete my competitors
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-camera"> </i>
          <h2>
            Image Processing & Computer vision
          </h2>
          <p>
            helo helo kadsbfsdaf jas;ldjff i am felelig good i will do hard work
            i will compete my competitors
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-camera"> </i>
          <h2>
            ERP & POS Systems
          </h2>
          <p>
            helo helo kadsbfsdaf jas;ldjff i am felelig good i will do hard work
            i will compete my competitors
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
