<div class="container-fluid">
  <div class="service-wrapper">
    <div class="service">
      <h1>Services</h1>
      <p>I am a Full-Stack web developer with working experience in Angular,React,Dotnet,
      Flask,My SQL Workbench,Sql Server,Xampp,C++ </p>
      <div class="cards">
        <div class="card">
          <i class="fa-brands fa-chromecast"> </i>
          <h2>
            Buisness Stratagy
          </h2>
          <p>
            I craft technology-driven strategies to boost business growth and efficiency.
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-layer-group"> </i>
          <h2>
            Website Development Stratagy
          </h2>
          <p>
            I design plans for effective website development, aligning with client goals.
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-user-group"> </i>
          <h2>
            Marketing & Reporting
          </h2>
          <p>
            I implement marketing strategies and provide detailed performance reports.
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-desktop"> </i>
          <h2>
            Web Applications
          </h2>
          <p>
            I create custom web apps tailored to meet specific business needs.
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-camera"> </i>
          <h2>
            Image Processing & Computer vision
          </h2>
          <p>
            I utilize advanced algorithms for image analysis and computer vision tasks.
          </p>
        </div>
        <div class="card">
          <i class="fas fa-cash-register"></i>
          <h2>
            ERP & POS Systems
          </h2>
          <p>
            I specialize in developing and implementing efficient ERP and POS  systems. These solutions streamline business operations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
